<div class="header_2">
	<h1 class="h1_header">Home</h1>
    <main>
      <article class="article-grid">		  
		<a href="#">
          	<picture>
				<source media="(min-width:850px)" srcset="images/banner1_300x300.jpg" class="img_article">
				<source media="(max-width:320px)" srcset="images/banner1_100x100.jpg" class="img_article">
				<img src="images/banner1_200x200.jpg" alt="" class="img_article">
			</picture>
        </a>
        <div class="text-article">
			<h1><a href="#">Título</a></h1>
			<div class="article_date">
				<img class="calendarIcon" src="images/calendar_icon.png">
				<div>Publicado em qui 13 ago 2021</div>
			</div>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        </article>
		<article class="article-grid">
			<a href="#">
				  <picture>
					<source media="(min-width:850px)" srcset="images/banner1_300x300.jpg" class="img_article">
					<source media="(max-width:320px)" srcset="images/banner1_100x100.jpg" class="img_article">
					<img src="images/banner1_200x200.jpg" alt="" class="img_article">
				</picture>
			</a>
			<div class="text-article">
				<h1><a href="#">Título</a></h1>
				<div class="article_date">
					<img class="calendarIcon" src="images/calendar_icon.png">
					<div>Publicado em qui 13 ago 2021</div>
				</div>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>
		</article>
		<article class="article-grid">
			<a href="#">
				  <picture>
					<source media="(min-width:850px)" srcset="images/banner1_300x300.jpg" class="img_article">
					<source media="(max-width:320px)" srcset="images/banner1_100x100.jpg" class="img_article">
					<img src="images/banner1_200x200.jpg" alt="" class="img_article">
				</picture>
			</a>
			<div class="text-article">
				<h1><a href="#">Título</a></h1>
				<div class="article_date">
					<img class="calendarIcon" src="images/calendar_icon.png">
					<div>Publicado em qui 13 ago 2021</div>
				</div>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>
		</article> 
  	  	<article class="article-grid">
			<a href="#">
				<picture>
					<source media="(min-width:850px)" srcset="images/banner1_300x300.jpg" class="img_article">
					<source media="(max-width:320px)" srcset="images/banner1_100x100.jpg" class="img_article">
					<img src="images/banner1_200x200.jpg" alt="" class="img_article">
				</picture>
			</a>
			<div class="text-article">
				<h1><a href="#">Título</a></h1>
				<div class="article_date">
					<img class="calendarIcon" src="images/calendar_icon.png">
					<div>Publicado em qui 13 ago 2021</div>
				</div>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>
		</article>
		<article class="article-grid">
			<a href="#">
				  <picture>
					<source media="(min-width:850px)" srcset="images/banner1_300x300.jpg" class="img_article">
					<source media="(max-width:320px)" srcset="images/banner1_100x100.jpg" class="img_article">
					<img src="images/banner1_200x200.jpg" alt="" class="img_article">
				</picture>
			</a>
			<div class="text-article">
				<h1><a href="#">Título</a></h1>
				<div class="article_date">
					<img class="calendarIcon" src="images/calendar_icon.png">
					<div>Publicado em qui 13 ago 2021</div>
				</div>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>
		</article>
		<article class="article-grid">
			<a href="#">
				  <picture>
					<source media="(min-width:850px)" srcset="images/banner1_300x300.jpg" class="img_article">
					<source media="(max-width:320px)" srcset="images/banner1_100x100.jpg" class="img_article">
					<img src="images/banner1_200x200.jpg" alt="" class="img_article">
				</picture>
			</a>
			<div class="text-article">
				<h1><a href="#">Título</a></h1>
				<div class="article_date">
					<img class="calendarIcon" src="images/calendar_icon.png">
					<div>Publicado em qui 13 ago 2021</div>
				</div>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>
		</article>
  </main>
  <div id="but-news">
  	<input type="button" id="load-news" value="See More">
  </div>
  <%- include('footer') %>
</div>