<footer>
    <div>
      <h3>Social Networks</h3>
      <hr>
      <a href="https://github.com/joaovitor644" target="_blank"><img src="images/github_icon.png"></a>
      <a href="https://instagram.com" target="_blank"><img src="images/instagram_icon.png"></a>
      <a href="https://twitter.com" target="_blank"><img src="images/twitter_icon.png"></a>
    </div>
    <div>
      <h3>links</h3>
      <hr>
      <a href="#" class="iink">Home</a>
      <a href="#" class="link">About us</a>
      <a href="#" class="link">Contact Us</a>  
    </div>
</footer>