<header>
    <input type="checkbox" id="check" hidden>
    <label for="check" id="icon"><img src="images/nav_icon.png"></label>
    <nav>
        <img src="images/icon_logo.png" style="width:50px; height:50px;" id="logo_nav">
        <a href="#" class="iink">Home</a>
        <a href="#" class="link">About us</a>
        <a href="#" class="link">Support</a>
        <a href="#" class="link">Contact Us</a>  
    </nav>
</header>