#container_session2{
	width: 90%;
	height: auto;
	display:flex;
	flex-direction:column;
	background-color:white;
	margin: auto;
	padding: 20px;
	border-radius: 5px;
}
h1{
	text-align: center;
	margin-bottom: 30px;
}
#container_session2 img{
	margin: auto;
	width: 300px;
	height: 300px;
	margin-bottom: 20px;
}
#container_session2 p{
	margin-bottom: 100px;
}
article{
	margin: auto;
}
@media screen and (max-width:380px){
	#container_session2 img{
		width:200px;
		height:200px;
	}
}

